@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
   <p><h1 class="text-center font-weight-bolder">Welcome to Slipkart</h1></p> 

   <div class="row m-2">

    <div class="col-8">
        <p>
            <h5>Easiest and Effective way to Maintain your Products</h5>
        </p>

    </div>
    <div class="col-11">
        <img src="~/images/background.jpg" class="img-fluid"/>
    </div>

   </div>

</div>
